.hidden {
    display: none;
}


body {
    background: #FBFBFB;
    /* padding: 20px; */
    text-align: center; 
}

body {
    font-family: 'russo one', 'Neucha', 'Helvetica', 'Arial', 'sans-serif';
  }

  h1,

h3,
h4,
h5,
h6 {
  font-family: 'russo one', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Hero section ============= */

header.jumbotron {
    background: #EAE4D7;
  }

/* button style ============= */

.result-button {
    padding: 20px;
    margin: 20px;
}

.candidate {
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.helper-text {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
  }
  

/* .vote-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } */

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    border-color: black;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

td,
th {
    padding-left: 8px
}

thead tr {
    height: 60px;
    background: #FFED86;
    font-size: 16px;
}

tbody tr {
    height: 48px;
    border-bottom: 1px solid #f0f0f0;
}

tbody tr:last-child {
    border:0;
}



/* vote button CSS */
.vote-button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.vote-button:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.vote-button:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .vote-button {
        padding: 13px 50px 13px;
    }
}

/* giphy */
.gif-wrap {
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

